

 .contactContainerr {

   display: flex;

   justify-content: center;

   align-items: center;



 }


 .contactBox {

   display: grid;

    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: 1fr;

    grid-column-gap: 10px;

    grid-row-gap: 0px;

    height: 570px;

    width: 75%;

    flex-direction: column;

    background: rgba( 255, 255, 255, .05 );

    border: 0.5px solid rgba( 255, 255, 255, 0.2 );

    border-radius: 10px;

    position: relative;

 }

 .contactForm {

    grid-area: 1 / 1 / 2 / 2;

 }

 .contactBox::before {

    position: absolute;

    content: '';

    height: 0;

    width: 20%;
  
    box-shadow: 0 0 800px 25px #008be1,
                0 0 700px 26px #49066E,
                0 0 900px 28px #008be1,
                0 0 1000px 30px #008be1;
  
  
    opacity: 0.3;

    left: 40%;

    top: 60%;



 }

.contactBox::after {

       position: absolute;

    content: '';

    height: 0;

    width: 100%;
  
    box-shadow: 0 0 800px 30px #d1412b,
                0 0 700px 32px #d1412b,
                0 0 900px 35px #d1412b,
                0 0 1000px 40px #d1412b,
                0 0 1100px 45px #d1412b,
                0 0 1200px 50px #d1412b;
  
  
    opacity: .13;

    bottom: 100%;

}


.conatctImg {

   grid-area: 1 / 2 / 2 / 3;

   display: flex;

   justify-content: center;

   align-items: center;


   
}


.contactImg img {

   margin-top: 40px;

   margin-left: 40px;

   width: 500px;

   height: 500px;

   pointer-events: none;

}