

 body {


    min-height: 100vh;

    background: #0c0c0c;

    position: relative;

 }


 body::before {

    content: '';

    position: absolute;
      
        height: 0;
      
        width: 20%;
      
        box-shadow: 0 0 800px 25px #008be1,
                    0 0 700px 26px #49066E,
                    0 0 900px 28px #008be1,
                    0 0 1000px 30px #008be1;

      opacity: 0.3;

    top: 50%;

    left: 40%;
}


  
 body::after {

    position: absolute;
  
    content: '';
  
    height: 0;
  
    width: 200%;
  
    box-shadow: 0 0 800px 25px #008be1,
                0 0 700px 26px #49066E,
                0 0 900px 28px #008be1,
                0 0 1000px 30px #008be1;
  
    bottom: 105%;
  
    opacity: 0.2;
  
    right: 85%;
  
   }
  



 .overlayEffect {

    position: absolute;

    width: 100%;
  
    height: 100%;
  
    background-image: linear-gradient(
        to right,
        rgba(79, 79, 79, 0.18) 1.2px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(79, 79, 79, 0.228) 1.2px, transparent 1px);
  
    background-size: 14px 24px;
  
 

  
    pointer-events: none;
  
    z-index: 0;
  
    overflow-y: hidden;

   
 }

 .courseTitle {

    font-size:  50px;

    font-weight: 400;

    font-family: 'outfit', sans-serif;

    color: #fff;

    margin-top: 280px;

    margin-left: 410px;
    

 }


 
 .backArrow {

    display: flex;

    justify-content: center;

    align-items: center;

    height: 60px;

    width: 80px;

    border: 0.8px solid #008be1;

    border-radius: 8px;

    background: rgba( 255, 255, 255, 0.2 );


    margin-left: 30px;

    margin-top: 25px;

    cursor: pointer;

 }

 .backArrow:hover {

    cursor: pointer;

 }